* {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}
section {
    /*border: 1px solid Chocolate;*/
}

/*navigation section*/
.top-navigation {
	display: inline-block;
	height: 5em;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	
}

.top-navigation > .content {
    width: 60%;
    height: 4.5em;
    margin: 0 auto;
    padding: 0em 1em;
    box-sizing: border-box;
}

.top-navigation .links {
	float: right;
}

.top-navigation .logo {
	margin: 1em 0em;

}

.links li {
	display: inline-block;
	margin-top: 1em;
	margin-left: 1.5em;

}
/*active link in nav*/
.top-navigation .links > .active a {
	color: #000;
	font-weight: 500;
	text-decoration: none;
}

.links a {
	text-decoration: none;
	color: #838994;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
}

.links a:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.main {
	background-image: url("../images/first-background.jpg");
	background-size: cover;
	background-position: center bottom;
	height: 46em;
	overflow: hidden;
}

.title h1 {
	margin-top: 5.8em;
	margin-bottom: -.2em;
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 3.1em;
	letter-spacing: .01em;
}

.title h3 {
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 1.563em;
	letter-spacing: .01em;
}

.button {
	text-align: center;
	margin-top: 15px;
	color: #fff;

}

.button button {
	background-color: #f15a29;
	border-radius: 6px;
	font-size: 20px;
	font-weight: 400;
	border-style: none;
	color: #fff;
	padding: 1em 1.5em;
}

.button button:hover {
	background-color: #D9400E;
	cursor: pointer;
}